<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Post</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="header">
  <h1>Edit Post</h1>
</div>

<div class="topnav">
  <a href="/">Home</a>
</div>

<div class="row">
  <div class="leftcolumn">
    <div>
      <% if (message) { %>
        <script>
          alert("<%= message %>");
        </script>
      <% } %>
      <form action="/posts/edit/<%= post.blog_id %>" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="<%= post.title %>" required>
        </div>
        <div>
            <label for="body">Content:</label>
            <textarea id="body" name="body" required><%= post.body %></textarea>
        </div>
        <input type="submit" value="Update Post">
    </form>
    
    </div>
  </div>

  <div class="rightcolumn">
    <div class="card">
      <h2 class="section-title">Top Artists</h2>
      <img src="/images/sleepToken.jpg" alt="Artist 1" class="artist-cover">
      <img src="/images/badOmens.jpg" alt="Artist 2" class="artist-cover">
      <img src="/images/BMTH.jpg" alt="Artist 3" class="artist-cover">
    </div>
  </div>
</div>

<div class="footer">
  <h2>Sources</h2>
  <p>This project hurt my brain</p>
  <p>https://www.youtube.com/watch?v=ILviQic0c8g</p>
  <p>https://www.youtube.com/watch?v=S6VE2lsAGo0</p>
  <p>https://www.youtube.com/watch?v=c6zI1gCaO-c</p>
</div>

</body>
</html>

